input,
button {
  border-radius: $base-border-radius;
  height: 32px;
}

input {
  background-color: transparent;
  border: 1px solid lighten($black, 10%);
  padding-left: 10px;
  width: 160px;

  &:focus,
  &:hover {
    border-color: lighten($black, 20%);
    outline: none;
  }
}

button {
  background-color: $blue;
  border: none;
  margin-left: $spacing-block / 2;

  &:hover {
    background-color: lighten($blue, 5%);
  }

  &:active {
    background-color: lighten($blue, 8%);
  }
}
