.container {
  @include display(flex);
  @include flex-direction(column);
  min-height: 100vh;
}

.page-content {
  @include flex(1);
  @include align-items(center);
  @include display(flex);
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 0 ($spacing-block * 2);

  @include media(max-width $small-snap) {
    @include flex(0);
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0 $spacing-block;
  }
}

.iphone {
  @include flex(none);
  @include size(306px 640px);
  z-index: 1;
  position: relative;

  @include media(max-width $small-snap) {
    margin-bottom: $spacing-block * 2;
  }
}

.app-icon {
  margin-bottom: $spacing-block * 3;

  @include media(max-width $small-snap) {
    @include size(60px 60px);
    margin-bottom:  $spacing-block;
  }
}

.iphone,
.app-copy {
  display: inline-block;
}

.app-copy {
  width: 330px;
  margin-right: $spacing-block;

  @include media(max-width $small-snap) {
    width: 70%;
    margin-right: 0;
    margin-top: $spacing-block * 2;
    display: block;
  }

  @include media(max-width $small-snap) {
    width: 100%;
  }
}

.built-by-text {
  padding-top: $spacing-block *2;

  @include media(max-width $small-snap) {
    padding: $spacing-block 0;
  }
}

.app-store-badge {
  display: inline-block;
  margin: ($spacing-block * 2) 0 ($spacing-block * 3) 0;
}

.thoughtbot-built {
  color: $thoughtbot-red;
}
