.container {
  @include display(flex);
  @include flex-direction(column);
  min-height: 100vh;
}

.page-content {
  @include align-items(center);
  @include display(flex);
  @include flex(1);
  margin: 0 auto;
  max-width: 750px;
  padding: 0 ($spacing-block * 2);
  width: 100%;

  @include media(max-width $small-snap) {
    @include flex(0);
    display: inline-block;
    padding: 0 $spacing-block;
    text-align: center;
    width: 100%;
  }
}

.iphone {
  @include flex(none);
  @include size(306px 640px);
  position: relative;
  z-index: 1;

  @include media(max-height 550px) {
    margin: ($spacing-block * 2) 0;
  }
}

.app-icon {
  margin-bottom: $spacing-block * 3;

  @include media(max-width $small-snap) {
    @include size(60px 60px);
    margin-bottom:  $spacing-block;
  }
}

.iphone,
.app-copy {
  display: inline-block;
}

.app-copy {
  margin-right: $spacing-block;
  width: 330px;

  @include media(max-width $small-snap) {
    width: 70%;
    margin-right: 0;
    margin-top: $spacing-block * 2;
    display: block;
  }

  @include media(max-width $small-snap) {
    width: 100%;
  }
}

.built-by-text {
  padding-top: $spacing-block * 2;

  @include media(max-width $small-snap) {
    padding: $spacing-block 0;
  }
}

.app-store-badge {
  display: inline-block;
  margin: ($spacing-block * 2) 0 ($spacing-block * 3) 0;
}

.thoughtbot-built {
  color: $thoughtbot-red;
}
