!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "ie=edge", http: {equiv: "x-ua-compatible"}}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %link{rel: "icon", href: "assets/images/favicon.ico"}

    %title
      Tropos&#58; Phrase based weather conditions
    = stylesheet_link_tag "application"

  %body
    = yield
    = partial "partials/analytics"
