<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-itunes-app" content="app-id=955209376">
    <title>Tropos&#58; Phrase based weather conditions</title>
    <%= stylesheet_link_tag "application" %>
    <link rel="icon" href="assets/images/favicon.ico">
  </head>
  <body>
    <%= yield %>
    <%= partial "partials/analytics" %>
  </body>
</html>
