<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    >
    <meta
      name="description"
      content="Tropos is a weather app for humans, with forecast information you can act on. Available om iOS and Android."
    >
    <title>Tropos&#58; Phrase based weather conditions</title>
    <%= stylesheet_link_tag "application" %>
    <%= favicon_tag "favicon.ico" %>
  </head>
  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
